<% provide(:title, "About") %>
<h1>About</h1>
<p>
	The <em>Micro Twitter application</em> is a
	Twitter like application where users can register, login,
	follow other users, get personalized feed and more.
</p>