<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Hi! I am Rohan Sapre, developer of this website.
	Feel free to <a href="mailto:sapre.r@husky.neu.edu?Subject=Micro%20Twitter%20Issue" target="_top">contact me</a> regarding any questions.
</p>