<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Get help on using the application or any regarding any other queries feel free to
	<a href="mailto:sapre.r@husky.neu.edu?Subject=Micro%20Twitter%20Issue" target="_top">contact me</a>.
</p>